<h1>Welcome to NBA Shot Charts</h1>
<b>
  This is an app designed to allow you to build shot charts based on who is on the court, who is off the court, the season,
  and/or the teams playing.
  <br>
  This site is still a work in progress. Please report any issues, suggestions, or complaints to @rd11490 on twitter
  <h2>Common Issues:</h2>
  <ul>
    <li>
      Requesting too many shots for a Raw Shot Chart: The endpont is limited in how many shots it can return.
      Limit your request to get results
    </li>
  </ul>

</b>
